<div class="container-inner">
  <table>
    <tr>
      <th *ngFor="let header of headers">
        <p>
          {{ header }}
        </p>
      </th>
    </tr>
    <tr *ngFor="let team of teams; let i = index">
      <td>
        {{ (i + 1) }}
        <img class="logo_time" [src]="team.logos[0].href" alt="">
        {{ team.displayName }}
      </td>
      <td *ngFor="let stat of formatTeamStats(team.stats)">
        <p>
          {{ stat.value }}
        </p>
      </td>
    </tr>
  </table>
</div>