<header class="l-header">
    <img class="img-header" src="https://uploaddeimagens.com.br/images/003/703/770/original/novalogo.png?1643849352"
        alt="">
    <div class="hamburger hamburger--slider">
        <div class="hamburger-box">
            <div class="hamburger-inner"></div>
        </div>
    </div>
    <nav class="l-header__nav">
        <ul class="l-header__gnavi">
            <li class="l-header__gnavi__item"><a href="#">Home</a>
            </li>
            <li class="l-header__gnavi__item"><a href="#">Funções</a></li>
            <li class="l-header__gnavi__item"><a href="#">Benefícios</a></li>
            <li class="l-header__gnavi__item"><a href="#">Sobre nós</a>
            </li>
        </ul>
    </nav>
</header>
