<div class="content">
  <h1 class="title">Acompanhe as</h1>
  <h1 class="title">Melhores Ligas do Mundo</h1>
</div>
<div class="buttons">
  <button>Login</button>
  <button>Criar conta</button>
</div>
<div class="img">
  <img class="img-responsive"
    src="https://images.vexels.com/media/users/3/140621/isolated/preview/333b587f745bc243bc1a72b2bbbe3577-javad-nekounam-cartoon.png"
    alt="">
</div>
<section>
  <div>
    <h1>As estatísticas do futebol na sua mão!</h1>
    <p>A FutStats oferece para você um serviço surreal <br>
      sobre ligas de futebol do mundo inteiro. É um projeto <br>
      recente e pretendemos expandir ele cada vez mais!
    </p>
  </div>
</section>
<h1 class="title-2">Nossas Ligas</h1>
<div *ngIf="!(loaderService.isLoading | async); else loadingState">
  <article class="parent">
    <div class="" *ngFor="let logo of logos; let i = index" [attr.data-index]="i">
      <img (click)="onClickOnTeam(i)" class="box" [src]="logo" alt="">
    </div>
  </article>
</div>
<ng-template #loadingState>
  <app-spinner></app-spinner>
</ng-template>