@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Poppins', 'Verdana', sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 9999;
}

.toast {
  position: fixed;
  opacity: 0.7;
  top: 25px;
  right: 25px;
  width: 375px;
  background: #fff;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  border-left: 3px solid #0a3151;
  overflow: hidden;
  transform: translateX(calc(100% + 25px));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35)
}

.toast.active {
  transform: translateX(0);
}

.toast-check{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  background-color: #40f467;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
}


.toast i:first-child {
  color: #0a3151;
  font-size: 20px;
}

.toast-text {
  margin: 0;
  font-size: .8125rem;
}

.toast i:last-child {
  color: #ccc;
  cursor: pointer;
  transition: 350ms;
}

.toast i:last-child:hover {
  color: #333;
}
